<footer class="footer ">
	<div class="container">
		<div class="row align-items-center flex-row-reverse">
			<div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center text-primary">
				Direito autoral © 2022 <a href="#">FEED</a>. Projetado por <a href="#">FEED</a> Todos os direitos
				reservados.
			</div>
		</div>
	</div>
</footer>
<!-- End Footer


<!-- Dashboard Css -->
<script src="/assets/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/assets/js/vendors/jquery.sparkline.min.js"></script>
<script src="/assets/js/vendors/selectize.min.js"></script>
<script src="/assets/js/vendors/jquery.tablesorter.min.js"></script>
<script src="/assets/js/vendors/circle-progress.min.js"></script>
<script src="/assets/plugins/rating/jquery.rating-stars.js"></script>


<!-- Fullside-menu Js-->
<script src="/assets/plugins/fullside-menu/jquery.slimscroll.min.js"></script>
<script src="/assets/plugins/fullside-menu/waves.min.js"></script>

<!-- Sweet alert Plugin -->
<script src="/assets/plugins/sweet-alert/sweetalert.min.js"></script>
<script src="/assets/js/sweet-alert.js"></script>

<!--Select2 js -->
<script src="/assets/plugins/select2/select2.full.min.js"></script>

<!-- Timepicker js -->
<script src="/assets/plugins/time-picker/jquery.timepicker.js"></script>
<script src="/assets/plugins/time-picker/toggles.min.js"></script>

<!-- Datepicker js -->
<script src="/assets/plugins/date-picker/spectrum.js"></script>
<script src="/assets/plugins/date-picker/jquery-ui.js"></script>
<script src="/assets/plugins/input-mask/jquery.maskedinput.js"></script>

<!-- Inline js -->
<script src="/assets/js/select2.js"></script>

<!-- file uploads js -->
<script src="/assets/plugins/fileuploads/js/dropify.min.js"></script>

<!-- Custom scroll bar Js-->
<script src="/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Custom Js-->
<script src="/assets/js/custom.js"></script>

<!-- forn-wizard js-->
<script src="/assets/plugins/forn-wizard/js/material-bootstrap-wizard.js"></script>
<script src="/assets/plugins/forn-wizard/js/jquery.validate.min.js"></script>
<script src="/assets/plugins/forn-wizard/js/jquery.bootstrap.js"></script>


</body>

</html>