<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#0061da">
    <meta name="theme-color" content="#1643a3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="description" content=" Sistema de Avaliação e Analise.">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- Title -->
    <title>FEED</title>
    <link rel="stylesheet" href="/assets/fonts/fonts/font-awesome.min.css">


    <!-- Font Family-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- forn-wizard css -->
    <link href="/assets/plugins/forn-wizard/css/material-bootstrap-wizard.css" rel="stylesheet">
    <link href="/assets/plugins/forn-wizard/css/demo.css" rel="stylesheet">

    <!-- Sidemenu Css -->
    <link href="/assets/plugins/fullside-menu/css/style.css" rel="stylesheet">
    <link href="/assets/plugins/fullside-menu/waves.min.css" rel="stylesheet">

    <!-- Dashboard Css -->
    <link href="/assets/css/dashboard.css" rel="stylesheet">

    <!-- c3.js Charts Plugin -->
    <link href="/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet">

    <!-- Morris.js Charts Plugin -->
    <link href="/assets/plugins/morris/morris.css" rel="stylesheet">

    <!-- Custom scroll bar css-->
    <link href="/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet">

    <!---Font icons-->
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet">
</head>