<!-- Sidebar Holder -->
<nav id="sidebar" class="nav-sidebar">
    <ul class="list-unstyled" id="accordion">
        <li class="text-left font-size: 25px;">
            <a href="/empresa/empresas" class="accordion-toggle wave-effect text-left pl-4" aria-expanded="false">
                <!-- <i class="fa fa-desktop mr-2"></i>  -->
                Empresas
            </a>
        </li>
        <li class="text-left font-size: 25px;">
            <a href="/cliente/clientes" class="accordion-toggle wave-effect text-left pl-4" aria-expanded="false">
                <!-- <i class="fa fa-desktop mr-2"></i> -->
                Clientes
            </a>
        </li>
        <li class="text-left font-size: 25px;">
            <a href="/admin/users" class="accordion-toggle wave-effect text-left pl-4" aria-expanded="false">
                <!-- <i class="fa fa-desktop mr-2"></i> -->
                Usuarios
            </a>
        </li>
    </ul>
</nav>
<!--cut-->