<%- include('../partials/head.ejs') %>
	<body>
		<div class="login-img">
			<div id="global-loader"></div>
			<div class="page">
				<div class="page-single">
					<div class="container">
						<div class="row text-center  mx-auto authentication">
							<div class="col-lg-8 col-sm-12 center-block align-items-center construction  ">
								<div class="text-white">
									<div class="card-body">
										<!-- <h2 class="mb-0"><strong>Em Breve</strong></h2> -->
										<div class="countdown-timer-wrapper">
											<div class="timer" id="countdown"></div>
										</div>
										
										<!-- <h4><strong>Contato:</strong> feed@brasil.site</h4> -->
										 <div class="text-center ">
                                            <img style="width: 400px; max-height: fit-content;" src="/assets/images/feed.svg" class="sgv" alt="logo" >
                                            <h3>Sistema de Avaliação e Análise</h3>
                                            <!-- <div class="flex-c-m ">
												<a href="#" class="login100-social-item bg1">
													<i class="fa fa-facebook fb-blue"></i>
												</a>
												<a href="#" class="login100-social-item bg2">
													<i class="fa fa-twitter"></i>
												</a>
												<a href="#" class="login100-social-item bg3">
													<i class="fa fa-google"></i>
												</a>
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('../partials/footer.ejs') %>