<%- include('../partials/head.ejs') %>
	<body>
		<div class="login-img">
			<div id="global-loader"></div>
			<div class="page">
				<div class="page-single">
					<div class="container">
						<div class="row text-center  mx-auto authentication">
                            <div class="col-md-12 text-center p-0 m-0">
								<!-- <h1 class="page-title pt-6 pb-4">FEED</h1> -->
								<img style="width: 150px; max-height: fit-content;" src="/assets/images/feed.svg" class="sgv" alt="logo" >
							</div>
							<div class="col-lg-8 col-sm-12 center-block align-items-center construction  ">
								<div class="text-white">
									<div class="card-body">
										<h1 style="font-weight: 700;" class="mb-0"><strong>Avaliação finalizada com Sucesso!</strong></h1><br>
										<div class="countdown-timer-wrapper">
											<div class="timer" id="countdown"></div>
										</div>
										<p>Siga também nossas redes sociais para acompanhar promoções e sorteios. </p>
										<h4><strong>Contato:</strong> feed@feedbrasil.com</h4>
										<div class="text-center ">
											<div class="flex-c-m">
												<a href="#" class="login100-social-item bg1">
													<i class="fa fa-facebook fb-blue pt-3"></i>
												</a>
												<a href="#" class="login100-social-item bg2">
													<i class="fa fa-twitter pt-3"></i>
												</a>
												<a href="#" class="login100-social-item bg3">
													<i class="fa fa-google pt-3"></i>
												</a>
											</div> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('../partials/footer.ejs') %>